# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data Files
data/raw/*
data/processed/*

*.csv
*.xlsx
*.parquet

# Vector Database
vector_db/qdrant_data/

# Reports
*.pdf

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db